.SearchHeader{
  width: 100%;
  background-color: #273135;
  color: white;
  font-family: 'Lato', sans-serif;
  a {
    color: white;
  }
  h1 {
    display: inline-block;
  }
}

.SearchHeader-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.SearchHeader-searchForm{
  display: inline-block;
  width: 200px;
}

.form-group-SearchHeader{
  margin: 0;
}

input.form-control-SearchHeader{
  color: white;
  background: #171D20;
}

.btn-SearchHeader{
  color: white;
  background: #171D20;
  border-color: white;

  &:hover{
    color: white;
    background: #273135;
  }

  &:focus{
    color: white;
  }
}

@media (max-width: 500px) {
  .SearchHeader-row{
    flex-direction: column;
  }
}
