.BusinessCard-goingBtn {
  background: white;
  border-radius: 20px;
  border: 2px solid #e7e9eb;
  color: #89949B;
  padding: 3px 15px;
  outline: none;
  text-align: center;

  ::-moz-focus-inner {
    border: 0;
  }
}

.BusinessCard-btnUnselected {
  &:hover {
    background: #F1A4AB;
    border-color: #F2B0B7;
    color: white;
  }
}

.BusinessCard-btnSelected {
  background: #DE2938;
  border-color: #AE1B28;
  color: white;
}

.BusinessCard-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.BusinessCard-title {
  color: #43525A;
}