.githubDisplay-Profile {
  width: 350px;
  height: 180px;
  border-radius: 3px;
  margin-top: 30px;
  background-color: #EEE;
  text-align: center;
  color: #000;

  p:first-child {
  padding-top: 16px;
  }
  p:nth-child(5) {
  margin-bottom: 16px
  }
  p {
  margin: 0 0 0 16px;
  text-align: left;
  }

  img {
  padding-top: 16px;
  margin-bottom: 16px;
  }
}