.Header{
  width: 100%;
  background-color: #273135;
  color: white;
  font-family: 'Lato', sans-serif;
  a {
    color: white;
  }
  h1 {
    display: inline-block;
  }
}

.Header-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 360px) {
  .Header-row{
    flex-direction: column;
  }
}