.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-welcome{
  color: blue;
  margin-top: 5px;
}

.Home-btnContainer{
  margin: -10px auto 0 auto;
  text-align: center;
  Button{
    margin: 0 8px;
    width: 100px;
  }
}
